<div>
    <div>
        <div class="min-vh-100 w-100">
            <div>
                <div class="bg-info text-light">
                    <div class="container pt-2">
                        <div class="row">
                            <div class="col">
                                <p>ABC Real Estate</p>
                            </div>
                            <div class="col text-end ms-auto">
                                <img src="" alt="company logo">
                            </div>
                            <div class="col-1">
                                <p>User Name</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="row w-100">
                        <div class="col-2 ps-4 bg-info-subtle text-dark">
                            <app-nav></app-nav>
                        </div>
                        <div class="col-10">
                            <div class="container mt-3 pe-5">
                                <div class="d-flex  ">
                                    <form class="d-flex w-25 ms-auto" role="search">
                                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                        <button class="btn btn-outline-success btn-primary text-light" type="submit">Search</button>
                                    </form>
                                </div>
                            </div>
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <app-footer></app-footer>
</footer>