<div>
    <div>
        <div class="container">
            <div class="text-center">
                <h1 class="">About<span>Me.</span></h1>
                <p class="w-50 ms-auto me-auto p">There are many variations of passages ofLorem Ipsumavailable, but the majority havesuffered alteration in some form, </p>
                <div class="d-flex justify-content-center ">
                    <!-- <a href=""><i class="fa fa-facebook-f mx-2" style="font-size:24px"></i></a>
                    <a href=""><i class="fa fa-instagram mx-2" style="font-size:24px"></i></a>
                    <a href=""><i class="fa fa-instagram mx-2" style="font-size:24px"></i></a> -->
                    <a href="https://www.facebook.com/mamunalo13" target="_blank"><i class="bi bi-facebook fs-2 mx-2 " ></i></a>
                    <a href="" target="_blank"><i class="bi bi-twitter fs-2 mx-2"></i></a>
                    <a href="https://www.linkedin.com/in/abdullah-al-mamun-2008?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="bi bi-linkedin fs-2 mx-2"></i></a>
                    <a href="https://www.instagram.com/mamunalo13?igsh=YmxzaDRpbWJrdm8=" target="_blank"><i class="bi bi-instagram fs-2 mx-2"></i></a>
                    <a href="https://youtube.com/@mamunalo13?si=NjjB3JHHZpo7wD-a" target="_blank"><i class="bi bi-youtube fs-2 mx-2"></i></a>
                    <a href="" target="_blank"><i class="bi bi-pinterest fs-2 mx-2"></i></a>
                </div>
            </div>
            
        </div>
    </div>
</div>
