<div class="container">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card py-5 px-3 m-3 custom_card col-11 col-sm-8 col-md-6 col-lg-4 rounded">
            <form class="d-grid gap-2">
                <div class="mb-3">
                    <label for="username" class="form-label ">Username</label>
                    <input type="email" class="form-control glass-input" id="username" aria-describedby="emailHelp">
                    <!-- <div id="emailHelp" class="form-text ">We'll never share your email with anyone else.</div> -->
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label ">Password</label>
                    <input type="password" class="form-control glass-input" id="Password">
                </div>
                <hr>
                <!-- <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input glass-input" id="exampleCheck1">
                    <label class="form-check-label " for="exampleCheck1">Check me out</label>
                </div> -->
                <button type="submit" class="btn glass-btn-gradient-pm px-5 btn-lg mx-auto col-7 col-lg-4">Login</button>
                <!-- <button type="submit" class="btn glass-btn-gradient-pm px-5 btn-lg mx-auto col-7 col-lg-4">Forget Password</button> -->
                <div id="emailHelp" class="form-text my-2 mx-auto">New in here!</div>
                <button type="submit" class="btn glass-btn-secondary px-5 btn-lg mx-auto col-7 col-lg-4">Registration</button>

            </form>
        </div>
    </div>
</div>