<div>
    <div>
        <nav>
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/admin">Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/admin/adminowner">Add Owner</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/admin/services">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/admin/bill-board">Addvertisement and Others</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/admin/parking">Parking</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/admin">Requests From Owner</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/">Log Out</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li> -->
              </ul>
        </nav>
    </div>
</div>