<div>
    <div style="min-height: 30rem;">
      <div>

      </div>
        <div>
            <nav class="nav">
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active text-white fw-500"routerLink="/landloard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" routerLink="/landloard/allproperty">All Listing</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" routerLink="/landloard/listing-form">Add Listing</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" routerLink="/landloard/notification">Notification</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" routerLink="/landloard/shedule">Shedule</a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li> -->
                  </ul>
            </nav>
        </div>
    </div>
</div>