.min-100{
    min-height: 500px;
}

.bg{
    background-color: #111827 ;
}
.op-25{
    opacity: .25;
}
.op-50{
    opacity: .50;
}
.op-75{
    opacity: .75;
}
.c-y{
    color: #eab308;
}
.border-shado,.border-5,.border{
    border: 10px solid #eab308;
    box-shadow:5px #eab308;
}
.fixer{
    /* margin-left: 200px; */
    /* width: 400px; */
    /* margin-bottom: -30px; */
    height: 20rem;
    margin-top: -420px;
    margin-left: -30px;
    border: #eab308 3rem solid;
    
    
}

@media screen and (max-width: 768px) {
    .fixer {
        height: 10.5rem;
        margin-top: -9.2rem;
        margin-left: -1.2rem;
    }
    
  }

  @media screen and (min-width: 768px) {
    .fixer {
        height: 13.5rem;
        margin-top: -11.6rem;
        margin-left: -1.7rem;
    }
    
  }
  @media screen and (min-width: 768px) {
    .me-sm-3 {
        margin-left: 2rem;
    
  }
}
  @media screen and (max-width: 600px) {
    .me-sm-3 {
        
        margin-left: 20px;
    }
    
  }  
.img-fixer{
    margin-left: -450px;
}


.bg-body-b{
    background-color: #020617;
}

/* ._shadow{
    box-shadow: 2rem 0 0 2rem 2rem #eab308;
} */