<div>
    <div>
        <div class="sticky-top">
            <app-header></app-header>
        </div>
        
            <div>
                <div class="min-100">
                    <div class="bg py-5">
                        <div class="container">
                            <!-- 1st section start -->
                            <div class="row my-5 py-3">
                                <div class="col-sm-8 pt-5">
                                    <h5>Hello, Welcome</h5>
                                    <h1>I m Abdullah Al Mamun</h1>
                                    <p  class="op-50 w-50">There are many variations of passages ofLorem Ipsum
                                        available, but the majority havesuffered alteration in some 
                                       form, by injected humour,</p>
                                       <button type="button" class="btn btn-warning">Contact Us</button>
                                </div>
                                <div class="col-sm-4">
                                    <div>
                                        <img src="/assets/img/1.png" alt="Mamun's picture" class="w-100 rounded-5 w-sm-75">
                                    </div>
                                </div>
                            </div>
                            <!-- 1st section End -->
                            
                        </div>
                    </div>
                    <!-- 2nd section about me start -->
                    <div class="container py-5">
                        <div class="row my-5 py-3 ">
                            <div class="col-sm-6 me-5">
                                <div class=" me-sm-3 ">
                                    <div class="z-1 ">
                                        <img src="/assets/img/1.png" alt="Mamun's picture" class=" rounded-5 w-75 me-5">
                                    </div>
                                    <div class="border border-5 border-warning rounded-start-5 rounded-bottom-5 border-shado fixer z-2 w-75  p-5"></div>
                                </div>
                            </div>
                            <div class="col-sm-5 pt-5 pe-5 ps-5">
                                <!-- <h5>Hello, Welcome</h5> -->
                                <h1 class="mb-5 fw-bolder">About <span class="c-y">Me</span></h1>
                                <p  class="op-50 w-100 ">There are many variations of passages ofLorem Ipsum
                                    available, but the majority havesuffered alteration in some 
                                    form, by injected humour</p>
                                    <p  class="op-50 w-100 mt-1">There are many variations of passages ofLorem Ipsum
                                        available, but the majority havesuffered alteration in some 
                                        form, by injected humour</p>
                                   <button type="button" class="btn btn-warning">Contact Us</button>
                            </div>
                        </div>
                    </div>

                    <!-- 2nd section about me End -->

                     <!--3rd section My service start -->

                    <div class="bg py-5">
                        <div class="container">
                            <div>
                                <div>
                                    <h1>My <span class="c-y">Service</span></h1>
                                    <p class="op-50 w-50">
                                        There are many variations of passages ofLorem Ipsum
                                        available, but the majority havesuffered alteration in some 
                                        form, by injected humour,
                                    </p>
                                </div>
                            </div>
                            <div class="row my-5 py-3 d-flex justify-content-between px-5">
                                <div class="col-sm-3 bg-body-b text-center rounded-4 py-5 my-5 mx-4">
                                    <i class="bi bi-megaphone c-y fs-3"></i>
                                    <h3 class="my-4">Digital <br>
                                        Marketing</h3>
                                    <p  class="op-50 p-3">There are many variations of passages ofLorem Ipsum
                                        available, but the majority havesuffered alteration in some 
                                       form, by injected humour,</p>
                                </div>
                                <div class="col-sm-3 bg-body-b text-center rounded-4 py-5 my-5 mx-4">
                                    <i class="bi bi-bezier c-y fs-3"></i>
                                    <h3 class="my-4">Digital <br>
                                        Marketing</h3>
                                    <p  class="op-50 p-3">There are many variations of passages ofLorem Ipsum
                                        available, but the majority havesuffered alteration in some 
                                       form, by injected humour,</p>
                                </div>
                                <div class="col-sm-3 bg-body-b text-center rounded-4 py-5 my-5 mx-4">
                                    <i class="bi bi-bezier c-y fs-3"></i>
                                    <h3 class="my-4">Creative <br>
                                        Graphic Design</h3>
                                    <p  class="op-50 p-3">There are many variations of passages ofLorem Ipsum
                                        available, but the majority havesuffered alteration in some 
                                       form, by injected humour,</p>
                                </div>
                            </div>
                        </div>
                    </div>

                            <!--3rd section My service End -->

                            <!--3rd section My Portfolio End -->
                            <div class=" py-5">
                                <div class="container">
                                    <div>
                                        <div class="text-center ">
                                            <h1>My <span class="c-y">Portfolio</span></h1>
                                            <p class="op-50 w-50 ms-auto me-auto ">
                                                There are many variations of passages ofLorem Ipsum
                                                available, but the majority havesuffered alteration in some 
                                                form, by injected humour,
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row my-5 py-3 d-flex justify-content-between px-5">
                                        <div class="col-sm-6 rounded-4 py-5 ">
                                            <!-- <h3 class="my-4">Digital <br>
                                                Marketing</h3>
                                            <p  class="op-50 p-3">There are many variations of passages ofLorem Ipsum
                                                available, but the majority havesuffered alteration in some 
                                               form, by injected humour,</p> -->
                                               <img src="" alt="">
                                        </div>
                                        <div class="col-sm-6 rounded-4 py-5 ">
                                            <!-- <i class="bi bi-bezier c-y fs-3"></i>
                                            <h3 class="my-4">Digital <br>
                                                Marketing</h3>
                                            <p  class="op-50 p-3">There are many variations of passages ofLorem Ipsum
                                                available, but the majority havesuffered alteration in some 
                                               form, by injected humour,</p> -->
                                               <div class="row">
                                                <div class="col-sm-6"></div>
                                               </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--3rd section My Portfolio End -->


                </div>
            </div>
            <div>
                <div class="my-5">
                    <app-footer></app-footer>
                </div>
            </div>
        
    </div>
</div>
