<div>
    <div>
        <app-header></app-header>
            <div>
                <div class="min-100">
                    <div class="bg py-5">
                        <div class="container">
                            <div class="row my-5 py-5 ps-5">
                                <div class="col-sm-8">
                                    <h5>Hello, Welcome</h5>
                                    <h1>I m Abdullah Al Mamun</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <app-footer></app-footer>
    </div>
</div>
