<div>
    <div>
        <nav>
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" routerLink="/admin/dashboard">Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Property
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="/admin/dashboard">Rent Request</a></li>
                      <li><a class="dropdown-item" routerLink="/admin/dashboard">Dovelopment</a></li>
                      <!-- <li><a class="dropdown-item" href="#">Income Statement</a></li>
                      <li><a class="dropdown-item" href="#">Add A/C</a></li>
                      <li><a class="dropdown-item" href="#">Cash Book</a></li> -->
                    </ul>
                  </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Accounts
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="/admin/dashboard">A/C List</a></li>
                      <li><a class="dropdown-item" routerLink="/admin/dashboard">Pending Issue</a></li>
                      <li><a class="dropdown-item" routerLink="/admin/dashboard">Income Statement</a></li>
                      <li><a class="dropdown-item" routerLink="/admin/dashboard">Add A/C</a></li>
                      <li><a class="dropdown-item" routerLink="/admin/dashboard">Cash Book</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="/admin/dashboard" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                      Admin
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="/admin/dashboard">Engineers</a></li>
                      <li><a class="dropdown-item" routerLink="/admin/dashboard">Vendors</a></li>
                      <li><a class="dropdown-item" routerLink="/admin/dashboard">Supplier</a></li>
                      <li><a class="dropdown-item" routerLink="/admin/dashboard">Contractor</a></li>
                      <li><a class="dropdown-item" routerLink="/admin/dashboard">Appointments</a></li>
                      <li><a class="dropdown-item" routerLink="/admin/dashboard">Feedbacks</a></li>
                      <li><a class="dropdown-item" routerLink="/admin/dashboard">Salary Sheets</a></li>
                      <li><a class="dropdown-item" routerLink="/admin/dashboard">Attendance</a></li>
                      <li><a class="dropdown-item" routerLink="/admin/dashboard">Leave Applications</a></li>
                    </ul>
                  </li>
                <li class="nav-item">
                  <a class="nav-link " routerLink="/admin/dashboard">Voucher Board</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="/admin/dashboard" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      E-Payments
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="/admin/dashboard">Pending Payments</a></li>
                      <li><a class="dropdown-item" routerLink="/admin/dashboard">Paid : Not Posted</a></li>
                      <li><a class="dropdown-item" routerLink="/admin/dashboard">Paid : AND Posted</a></li>
                      <!-- <li><a class="dropdown-item" href="#">Salary Sheets</a></li>
                      <li><a class="dropdown-item" href="#">Attendance</a></li>
                      <li><a class="dropdown-item" href="#">Leave Applications</a></li> -->
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " routerLink="/">Log Out</a>
                  </li>
              </ul>
        </nav>
    </div>
</div>