header{
    font-family: sans-serif;
}
.nav-link{
    color: white;
    opacity: .75;
}
.navbar-brand{
    color: white;
    opacity: 1.5;
    font-weight: 600;
}
.nav-link :active{
    color: white;
    opacity: 1;
}

.nav-link:hover{
    opacity: 1;
}
.c-y{
    color: #eab308;
}